#resultsContainer {
    display: block;
    margin: 20px auto;
}
.container {
    max-width: 100%;
}
#map {
    display: block;
    height: 500px;
    margin: 0 auto 10px auto;
}
#tripDistance {
    display: block;
    margin: 0 auto;
}
#signedIn {
    display: none;
}
#newTrip {
    display: none;
}
#logout {
    display: none;
}
#loginDiv {
    display: none;
}
#signupDiv {
    display: none;
}

