#resultsContainer {
    display: block;
    width: 70%;
    margin: 10px auto;
}
#map {
    display: block;
    height: 500px;
    width: 100%;
    margin: 0 auto 10px auto;

}
#resultsTable {
    display: block;
    width: 400px;
    margin: 10px auto 0 auto;
}
#resultsTableBody {
    width: 100%;
}
#tripDistance {
    display: block;
    margin: 0 auto;
}
#signedIn {
    display: none;
}

table{
    border: 1px solid black
}

tr {
    border: 1px solid black
}
th {
    border: 1px solid black
}
td {
    border: 1px solid black
}